<div class="my-phrase">
  <p><%= @my_phrase.capitalize %></p>
  <p><i>-You</i></p>
</div>
<br>
<div class="coach-answer">
  <p></p><strong><%= @coach_answer %></strong></p>
  <p><i>-Your Coach</i></p>
</div>
<br>
<%= link_to "Ask a new question", '/ask' %>

