<div class="answer">
  <p class="m-0"><%= params[:question] %></p>
  <p class="m-0"><em>-You</em></p>
</div>
<div class="answer yellow">
  <p class="m-0"><strong><%= @answer %></strong></p>
  <p class="m-0"><em>-Your coach</em></p>
</div>